@charset "UTF-8";

li.canclini a {
	background-image: url(../img/brandSelect/bnr_canclini.jpg);
}

li.albini a {
	background-image: url(../img/brandSelect/bnr_albini.jpg);
}

li.tmason a {
	background-image: url(../img/brandSelect/bnr_thomasmason.jpg);
}

li.alumo a {
	background-image: url(../img/brandSelect/bnr_alumo.jpg);
}

li.albiate a {
	background-image: url(../img/brandSelect/bnr_albiate.jpg);
}

li.anteks a {
	background-image: url(../img/brandSelect/bnr_anteks.jpg);
}

li.soktas a {
	background-image: url(../img/brandSelect/bnr_soktas.jpg);
}

li.testa a {
	background-image: url(../img/brandSelect/bnr_testa.jpg);
}

li.somelos a {
	background-image: url(../img/brandSelect/bnr_somelos.jpg);
}

li.oltolina a {
	background-image: url(../img/brandSelect/bnr_oltolina.jpg);
}

li.getzner a {
	background-image: url(../img/brandSelect/bnr_getzner.jpg);
}

li.honegger a {
	background-image: url(../img/brandSelect/bnr_honegger.jpg);
}

li.acorn a {
	background-image: url(../img/brandSelect/bnr_acorn.jpg);
}

li.djohn a {
	background-image: url(../img/brandSelect/bnr_djanderson.jpg);
}

li.grandi a {
	background-image: url(../img/brandSelect/bnr_grandi.jpg);
}

li.ferno a {
	background-image: url(../img/brandSelect/bnr_ferno.jpg);
}

li.carlo a {
	background-image: url(../img/brandSelect/bnr_carloriva.jpg);
}

li.seais a {
	background-image: url(../img/brandSelect/bnr_seaisland.jpg);
}

li.oimport a {
	background-image: url(../img/brandSelect/bnr_others_import.jpg);
}

li.giza a {
	background-image: url(../img/brandSelect/bnr_giza.jpg);
}

li.others a {
	background-image: url(../img/brandSelect/bnr_others.jpg);
}

li.brembana a {
	background-image: url(../img/brandSelect/bnr_brembana.jpg);
}

li.stormtex a {
	background-image: url(../img/brandSelect/bnr_stormtex.jpg);
}

li.leggiuno a {
	background-image: url(../img/brandSelect/bnr_leggiuno.jpg);
}